body {
    padding: 0 10px;
}
button {
    background-color: yellow;  
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    transition-duration: 2s;
}
button:hover{
     background-color: green;   
}
button:active{
     background-color: brown;   
}
button:focus{
     outline: none;   
}


#block {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    background-color: aqua;
    margin-top: 30px;
    left: -160px;
    transition-duration: 2s;
}
#block:hover {
    left: 0px;
    transition-duration: 2s;
}


#road {
    height: 325px;
    width: 650px;
    background-image: url('bg.jpg');
    background-size: contain;
    margin-bottom: 50px;
    background-repeat: no-repeat;
}

#car {
    height: 30px;
    width: 30px;
    background-image: url('auto.png');
    background-size: contain;
    position: relative;
    top: 320px;
    left: 10px;
    -webkit-animation-name: spaceOutUp;
    animation-name: spaceOutUp;
    
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    
    animation-fill-mode:  forwards; 
    -webkit-animation-fill-mode:  forwards; 
    

}
#car:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused; /* Пауза */
}

   @-webkit-keyframes spaceOutUp {
    from {
     left: 10px;
    }
    33% {
      left: 280px; 
      animation-delay: 1s;
    }
    66% {
      left: 570px; 
      animation-delay: 0.5s;
    }    
    to {
     left: 280px;
    }
   }
   @keyframes spaceOutUp {
    from {
     left: 10px;
    }
    33% {
      left: 280px; 
      animation-delay: 1s;
    }
    66% {
      left: 570px; 
      animation-delay: 0.5s;
    }    
    to {
     left: 280px;
    }
   }

